/.idea/
/kandagar_songs.sql
/user_guide/
/webstat/
/songs(1).sql
#/robots.txt
/mysql.txt
/mysql.txt~
/license.txt
/_htaccess
/test.txt
/test.txt~
/application/config/config.php
/application/config/database.php
